<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @event.contact_details %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @event.image_url %>
</p>

<%= link_to 'Show All Sessions' , sessions_path(event_id: @event.id) %>
<% if session[:user_id] == @event.user_id %>
  <%= link_to 'Add New Session', new_session_path(event_id: @event.id) %>
  <%= link_to 'Edit', edit_event_path(@event) %> 
<% end %>  |
<%= link_to 'Back', events_path %>
